services:
  - type: worker
    name: telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot_render.py
    envVars:
      - key: BOT_TOKEN
        value: 7995699419:AAElCQT_F26CgGJxm8GtwXMxKRJ0gYkuXtM
